<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update blog_post</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/global.css"/>
    <link rel="stylesheet" type="text/css" href="/update.css">
    <!-- Google Fonts and Font Awesome -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    
</head>
    <body>
        <header>
            <div class="logo">
                <a href="/">MOVIC-BlogApp</a>
            </div>
    
            <!-- Hamburger Menu for Mobile -->
            <div class="hamburger" id="menu-toggle">
                <i class="fas fa-bars"></i>
            </div>
    
            <nav>
                <ul id="nav-menu">
                    <li><a href="/">Home</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/blogs">Blogs</a></li>
                </ul>
            </nav>
        </header>

        <div class="form-container">
            
            <form method="POST" action="/blogs/<%= blog.id%>" enctype="application/x-www-form-urlencoded">
                <%= console.log(blog.id) %>
                <input type="hidden" name="_method" value="put">

                <h2>Update blog</h2>
                <input type="text" id="title" name="title" value="<%= blog.title %>" required> 
                <br>
                <br>
                <textarea id="content" name="content" required></textarea> <%= blog.content %></textarea>
                <br>
                <br>
                <button class="button-container" type="submit">Update Blog</button>
            </form>
        </div>
    

        <script>
            document.getElementById('menu-toggle').addEventListener('click',  () => {
                var navMenu = document.getElementById('nav-menu');
                navMenu.classList.toggle('open');
            });
        </script>
    </body>
</html>